<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.mybatis.OrderDao">

    <resultMap id="orderMap" type="Order">
        <id property="id" column="order_id"/>
        <result property="totalPrice" column="totalPrice"/>
        <association property="user" resultMap="userMap"/>
        <association property="goods" resultMap="goodsMap"/>
    </resultMap>

    <resultMap id="userMap" type="User">
        <id property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="tel" column="user_tel"/>
        <result property="address" column="user_address"/>
    </resultMap>

    <resultMap id="goodsMap" type="Goods">
        <id property="id" column="goods_id"/>
        <result property="name" column="goods_name"/>
        <result property="price" column="goods_price"/>
    </resultMap>

    <select id="innerJoinPractise" resultMap="orderMap">
        select
        o.id as order_id,
        o.goods_num * o.goods_price as totalPrice,
        u.id as user_id,
        u.name as user_name,
        u.tel as user_tel,
        u.address as user_address,
        g.id as goods_id,
        g.name as goods_name,
        g.price as goods_price
        from Orders as o inner join user as u on u.id = o.user_id
        inner join goods as g on o.goods_id = g.id
    </select>

</mapper>