<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.mybatis.UserDao">

    <sql id="baseColumn">
        id,name,tel,address
    </sql>

    <select id="selectUserById" resultType="User" parameterType="integer">
      select * from user where id = #{id}
    </select>

    <delete id="deleteUserById" parameterType="integer">
      delete from user where id = #{id}
    </delete>

    <update id="updateUser" parameterType="User">
        update user 
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="address != null">address = #{address},</if>
        </set>
        where id = #{id}
    </update>

    <insert id="insertUsers" parameterType="User">
        insert into
        user
        (<include refid="baseColumn"/>)
        values 
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.id},#{item.name},#{item.tel},#{item.address})
        </foreach>
    </insert>

    <select id="selectAllUsers" resultType="User">
        select <include refid="baseColumn"/>
        from user
    </select>

    <select id="selectUsersByUsername" resultType="User" parameterType="com.github.hcsp.mybatis.vo.UserPaginationCondition">
        select <include refid="baseColumn"/>
        from user
        where name = #{username}
        limit #{offset},#{count}
    </select>

    <select id="countUsersByUsername" resultType="long">
        select count(*)
        from user
        where name = #{username}
    </select>
</mapper>