<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.mybatis.UserDao">
    <select id="getTotalPage" resultType="int">
        select count(1) from USER
        <if test="username != null">
            where NAME = #{username}
        </if>
    </select>

    <select id="getUserByPage" parameterType="map" resultType="com.github.hcsp.mybatis.entity.User">
        select * from USER
        <if test="username != null">
            where NAME = #{username}
        </if>
        limit  ((#{pageNum} - 1) * #{pageSize}), #{pageSize}
  </select>
    
    <insert id="batchInsertUsers" parameterType="list">
        insert into USER
        (ID, NAME, TEL, ADDRESS)
        values 
        <foreach collection="list" item="user" separator=",">
            (#{user.id}, #{user.name}, #{user.tel}, #{user.address})
        </foreach>
    </insert>

    <update id="updateUser" parameterType="com.github.hcsp.mybatis.entity.User">
        update USER
        <set>
            <if test="name != null">NAME = #{name },</if>
            <if test="tel != null">TEL = #{tel}, </if>
            <if test="address != null">ADDRESS = #{address} </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectUserById" parameterType="int" resultType="com.github.hcsp.mybatis.entity.User">
        select * from USER where id = #{id}
    </select>

    <select id="deleteUserById" parameterType="int">
        delete from USER where id = #{id}
    </select>
</mapper>