<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">
    <resultMap id="orders" type="Order">
        <id property="id" column="ID"/>
        <result property="totalPrice" column="TOTAL_PRICE"/>
        <association property="user" javaType="User">
            <id property="id" column="USER_ID"/>
            <result property="name" column="USER_NAME"/>
            <result property="address" column="ADDRESS"/>
            <result property="tel" column="TEL"/>
        </association>
        <association property="goods" javaType="Goods">
            <id property="id" column="GOODS_ID"/>
            <result property="name" column="GOODS_NAME"/>
            <result property="price" column="PRICE"/>
        </association>
    </resultMap>
    <select id="getInnerJoinOrders" resultMap="orders">
SELECT O.ID,
       USER_ID,
       GOODS_ID,
       U.NAME USER_NAME,
       U.ADDRESS,
       U.TEL,
       G.NAME GOODS_NAME,
       G.PRICE,
       (O.GOODS_NUM * O.GOODS_PRICE) TOTAL_PRICE
from "ORDER" O
         INNER JOIN USER U ON O.USER_ID = U.ID
         INNER JOIN GOODS G ON O.GOODS_ID = G.ID;
    </select>
</mapper>