<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <typeAlias alias="User" type="com.github.hcsp.mybatis.entity.User"/>
        <typeAlias alias="Order" type="com.github.hcsp.mybatis.entity.Order"/>
        <typeAlias alias="Goods" type="com.github.hcsp.mybatis.entity.Goods"/>
        <typeAlias alias="User" type="com.github.hcsp.mybatis.entity.User"/>
    </typeAliases>
    <environments default="development">
      <environment id="development">
        <transactionManager type="JDBC"/>
        <dataSource type="POOLED">
            <property name="driver" value="org.h2.Driver"/>
            <property name="url" value="jdbc:h2:D:/java/produce/yinghe/mybatis-in-action/target/test"/>
            <property name="username" value="root"/>
            <property name="password" value="Jxi1Oxc92qSj"/>
        </dataSource>
      </environment>
    </environments>
    <mappers>
        <mapper resource="db/mybatis/MyMapper.xml"/>
    </mappers>
</configuration>
