<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyMapper">
    <select id="selectAllOrder" resultMap="orderResultMap">
        select o.id                          as order_id,
               u.id                          as user_id,
               u.name                        as user_name,
               u.tel                         as user_tel,
               u.address                     as user_address,
               g.id                          as goods_id,
               g.name                        as goods_name,
               g.price                       as goods_price,
               (o.goods_num * o.goods_price) as total_price
        from `order` o,
             user u,
             goods g
        where o.user_id = u.id
          and o.goods_id = g.id;
    </select>

    <resultMap id="orderResultMap" type="Order">
        <result property="totalPrice" column="total_price"/>
        <result property="id" column="order_id"/>
        <association property="user" javaType="User">
            <id property="id" column="user_id"/>
            <result property="name" column="user_name"/>
            <result property="tel" column="user_tel"/>
            <result property="address" column="user_address"/>
        </association>
        <association property="goods" javaType="Goods">
            <id property="id" column="goods_id"/>
            <result property="name" column="goods_name"/>
            <result property="price" column="price"/>
        </association>
    </resultMap>

    <select id="getLimitedUsers" parameterType="map" resultType="User">
        select id, name, tel, address
        from user
        <if test="username != null">
            where name = #{username}
            limit #{pageSize}
            offset
            #{offsetNum}
        </if>
    </select>

    <select id="getAllUsers" resultType="int">
        select count(*)
        from user
        <if test="username != null">
            where name = #{username}
        </if>
    </select>

    <insert id="insertUsers" useGeneratedKeys="true" keyProperty="id">
        insert into user (name, tel, address)
        values
        <foreach item="item" collection="list" separator=",">
            (#{item.name}, #{item.tel}, #{item.address})
        </foreach>
    </insert>

    <update id="updateUsersNotNull" parameterType="User">
        update user
        set id = #{id}
        <if test="name != null">
            , name = #{name}
        </if>
        <if test="tel != null">
            , tel = #{tel}
        </if>
        <if test="address != null">
            , address = #{address}
        </if>
        where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete
        from user
        where id = #{id}
    </delete>

    <select id="selectUserById" resultType="User">
        select *
        from user
        where id = #{id};
    </select>

</mapper>


