<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mapper">
    <select id="getUserByPage" parameterType="map" resultType="User">
        select * from User
        <if test="userName!=null">
            where name = #{userName}
        </if>
        limit #{offset}, #{limit}
    </select>
    <select id="getPageTotal" parameterType="map" resultType="int">
        select count(*) from User
        <if test="userName!=null">
            where name = #{userName}
        </if>
    </select>
    <select id="selectUserById" parameterType="int" resultType="User">
        select * from User where id = #{id}
    </select>
    <insert id="batchInsertUsers" parameterType="map">
        insert into User (name,tel,address) values
        <foreach item="user" collection="users" separator=",">
            (#{user.name},#{user.tel},#{user.address})
        </foreach>
    </insert>
    <update id="updateUser" parameterType="User">
        update User
        <set>
            <if test="name != null">name =#{name},</if>
            <if test="tel != null">tel=#{tel},</if>
            <if test="address != null">address=#{address},</if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteUserById" parameterType="int">
        delete  from User where id = #{id}
    </delete>
    <select id="getInnerJoinOrders" resultMap="MyOrder">
       select o.id as order_id,u.id as user_id,g.id as goods_id,u.name as user_name,g.name as goods_name, (o.GOODS_NUM*o.GOODS_PRICE )as totalPrice from "ORDER" o
        inner join User u on o.USER_ID = u.id
        inner join GOODS g on o.GOODS_ID = g.id
    </select>
    <resultMap id="MyOrder" type="Order">
        <id property="id" column="order_id" />
        <result property="totalPrice" column="totalPrice"/>
        <association property="user" javaType="User" >
            <id property="id" column="user_id" />
            <result property="name" column="user_name"/>
        </association>
        <association property="goods" javaType="Goods" >
            <id property="id" column="goods_id" />
            <result property="name" column="goods_name"/>
        </association>
    </resultMap>
</mapper>