<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myMapper">
    <select id="getUserByPage" parameterType="map" resultType="User">
        select * from user
        <where>
            <if test="name != null">name = #{name}</if>
        </where>
        limit #{offset}, #{limit}
    </select>
    <delete id="deleteUserById" parameterType="int">
        delete from user
        where id = #{id}
    </delete>
    <insert id="batchInsertUsers">
        insert into user (name, tel, address)
        values
        <foreach item="user" collection="list" separator=",">
            (#{user.name}, #{user.tel}, #{user.address})
        </foreach>
    </insert>

    <update id="updateUser" parameterType="User">
        <if test="id != null">
            update user
            <set>
                <if test="name != null">name = #{name},</if>
                <if test="tel != null">tel = #{tel},</if>
                <if test="address != null">address = #{address},</if>
            </set>
            ,updated_at=now()
            where id = #{id}
        </if>
    </update>

    <select id="selectUserById" parameterType="int" resultType="User">
        select * from user
        where id = #{id}
    </select>

    <select id="getInnerJoinOrders" resultMap="Order">
        select o.id as order_id,
        u.id as user_id, u.name as user_name, u.tel as user_tel,
        u.address as user_address,
        g.id as goods_id, g.name as goods_name, g.price as goods_price,
        (o.goods_price * o.goods_num) as totalPrice
        from "ORDER" o
        inner join user u on o.user_id = u.id
        inner join goods g on o.goods_id = g.id
        where u.name is not null and g.name is not null
    </select>

    <resultMap id="Order" type="Order">
        <result property="id" column="order_id"/>
        <result property="totalPrice" column="totalPrice"/>
        <association property="user" javaType="User">
            <id property="id" column="user_id"/>
            <result property="name" column="user_name"/>
            <result property="tel" column="user_tel"/>
            <result property="address" column="user_address"/>
        </association>
        <association property="goods" javaType="Goods">
            <id property="id" column="goods_id"/>
            <result property="name" column="goods_name"/>
            <result property="price" column="goods_price"/>
        </association>
    </resultMap>

</mapper>