<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.mybatis.myMapper">
    <select id="getInnerJoinOrders" resultType="Order">
        select * from `order`
        inner join User on `order`.user_id=user.id
        inner join goods on `order`.goods_id=goods.id
    </select>
    <select id="getUserByPage" parameterType="map" resultType="User">
        select id,name,tel,address from User
        <if test="username!=null">
            where name=#{username}
        </if>
        limit #{offset},#{pageSize}
    </select>
    <select id="countUser" parameterType="String" resultType="int">
        select count(*) from User
        <if test="username!=null">
            where name=#{username}
        </if>
    </select>
    <select id="batchInsertUsers" parameterType="map">
        insert into user(name,tel,address)
        values
        <foreach item="user" collection="users" separator=",">
            (#{user.name},#{user.tel},#{user.address})
        </foreach>
    </select>
    <update id="updateUser" parameterType="User">
        update User
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="tel != null">tel=#{tel},</if>
            <if test="address != null">address=#{address},</if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteUserById" parameterType="int">
        delete from User where id=#{id}
    </delete>
    <select id="selectUserById" parameterType="int" resultType="User">
        select id,name,tel,address from User where id =#{id}
    </select>
    <select id="getInnerJoinOrders" resultMap="Order">
        select
        `order`.id as order_id,
        user.id as user_id,
        user.name as user_name,
        goods.name as goods_name,
        goods.price as goods_price,
        (`order`.goods_num*`order`.goods_price) as total_price
        from `order`
        inner join User on `order`.user_id=user.id
        inner join goods on `order`.goods_id=goods.id
        where user.name is not null and goods.name is not null
    </select>
    <resultMap id="Order" type="com.github.hcsp.mybatis.entity.Order">
        <!-- 结果集中的列映射到一个对象属性 -->
        <result property="id" column="order_id"/>
        <result property="totalPrice" column="total_Price"/>
        <!-- 将一个列映射给其中嵌套的属性 -->
        <association property="user" javaType="User">
            <result property="name" column="user_name"/>
            <result property="id" column="user_id"/>
        </association>
        <association property="goods" javaType="Goods">
            <result property="name" column="goods_name"/>
            <result property="price" column="goods_price"/>
        </association>
    </resultMap>
</mapper>