<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">
    <select id="getInnerJoinOrders" resultMap="Order">
        select O.id                          as order_id,
               U.id                          as user_id,
               U.name                        as user_name,
               G.id                          as goods_id,
               G.name                        as goods_name,
               G.price                       as goods_price,
               (O.goods_price * O.goods_num) as total_price
        from "ORDER" O
                 inner join GOODS G on O.goods_id = G.id
                 inner join USER U on O.user_id = U.id
        where G.name is not null
          and U.name is not null
    </select>

    <resultMap id="Order" type="Order">
        <result property="id" column="order_id"/>
        <result property="totalPrice" column="total_price"/>
        <association property="user" javaType="User">
            <result property="id" column="user_id"/>
            <result property="name" column="user_name"/>
        </association>
        <association property="goods" javaType="Goods">
            <result property="id" column="goods_id"/>
            <result property="name" column="goods_name"/>
        </association>
    </resultMap>
</mapper>