<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderMapper">
    <select id="getOrders" resultMap="orderMap">
        select o.id                          as order_id,
               u.id                          as user_id,
               u.name                        as user_name,
               u.tel                         as user_tel,
               u.address                     as user_address,
               (o.goods_price * o.goods_num) as total_price,
               g.id                          as goods_id,
               g.name                        as goods_name,
               g.price                       as goods_price
        from "ORDER" o
                 inner join USER u
                            on o.user_id = u.id
                 inner join GOODS g on o.goods_id = g.id
        where g.name is not null
          AND u.name is not null
    </select>
    <resultMap type="Order" id="orderMap">
        <result property="id" column="order_id"/>
        <result property="totalPrice" column="total_price"/>
        <association property="user" resultMap="userMap"/>
        <association property="goods" resultMap="goodsMap"/>
    </resultMap>
    <resultMap type="User" id="userMap">
        <result property="id" column="user_id"/>
        <result property="name" column="user_name"/>
        <result property="tel" column="user_tel"/>
        <result property="address" column="user_address"/>
    </resultMap>
    <resultMap type="Goods" id="goodsMap">
        <result property="id" column="goods_id"/>
        <result property="name" column="goods_name"/>
        <result property="price" column="goods_price"/>
    </resultMap>
</mapper>