<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.mybatis.OrderMapper">
    <select id="getInnerJoinOrders" resultMap="Order">
        select
            order_table.ID as order_id,
            user_table.id as user_id,
            user_table.name as user_name,
            user_table.tel as user_tel,
            user_table.address as user_address,
            goods_table.id as goods_id,
            goods_table.name as goods_name,
            goods_table.price as goods_price,
            order_table.GOODS_NUM * order_table.GOODS_PRICE as order_totalPrice
        from
            `ORDER` as order_table, `USER` as user_table, `GOODS` as goods_table
        where
            order_table.USER_ID = user_table.ID
            and order_table.GOODS_ID = goods_table.ID;
    </select>
<!--    定义结果集的数据格式-->
    <resultMap id="Order" type="com.github.hcsp.mybatis.entity.Order">
        <result column="order_id" property="id"/>
        <result column="order_totalPrice" property="totalPrice"/>
        <association property="user" javaType="com.github.hcsp.mybatis.entity.User">
            <result column="user_id" property="id"/>
            <result column="user_name" property="name"/>
            <result column="user_tel" property="tel"/>
            <result column="user_address" property="address"/>
        </association>
        <association property="goods" javaType="com.github.hcsp.mybatis.entity.Goods">
            <result column="goods_id" property="id"/>
            <result column="goods_name" property="name"/>
            <result column="goods_price" property="price"/>
        </association>
    </resultMap>
</mapper>