<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.mybatis">
  <select id="selectUserById" parameterType="int" resultType="com.github.hcsp.mybatis.entity.User">
    select id, name, tel, address from user
    where id = #{id}
  </select>
  
  <delete id="deleteUserById" parameterType="int">
    delete from user
    where id = #{id}
  </delete>
  
  <update id="updateUser" parameterType="com.github.hcsp.mybatis.entity.User">
    update user set
    <if test="#{id} != null">
      id = #{id},
      <if test="#{name} != null">
        name = #{name},
      </if>
      <if test="#{tell} != null">
        tel = #{tel},
      </if>
      <if test="#{address} != null">
        address = #{address}
      </if>
    </if>
  </update>
  
  <insert id="batchInsertUsers" parameterType="com.github.hcsp.mybatis.entity.User">
    insert into user (id, name, tel, address) values
    <foreach item = "user" collection="list" separator=",">
    (#{user.id}, #{user.name}, #{user.tel}, #{user.address})
    </foreach>
  </insert>
  
  <select id="getUserByPage" resultType="com.github.hcsp.mybatis.entity.User">
    select id,name,tel,address from user
    <if test="username != null">
      where name = #{username}
      limit #{offset}, #{limit}
    </if>
  </select>

  <select id="totalPage" resultType="int">
    select count(*) from user
  </select>
  
  
  
</mapper>
