<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.hcsp.mybatis.UserMapper">
    <insert id="batchInsertUsers" parameterType="list">
        insert into user (NAME, TEL, ADDRESS) values
        <foreach collection="list" item="user" separator=",">
            (#{user.name}, #{user.tel}, #{user.address})
        </foreach>
    </insert>

    <update id="updateUser" parameterType="user">
        update user
        <set>
            <if test="name != null">name=#{name}, </if>
            <if test="tel != null">tel=#{tel}, </if>
            <if test="address != null">name=#{address}</if>
        </set>
    </update>
</mapper>