<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OrderMapper">
    <select id="getUserByPage" parameterType="map" resultType="com.github.hcsp.mybatis.entity.User">
      select ID,NAME,TEL,ADDRESS from USER
      <if test="username != null">
          where NAME = #{username}
      </if>
      <if test="offset != null and limit != null">
          limit #{limit} offset #{offset}
      </if>
    </select>
    <select id="getUserCount" parameterType="map" resultType="int">
        select count(*) from USER
        <if test="username != null">
            where NAME = #{username}
        </if>
    </select>
    <insert id="batchInsertUsers" parameterType="map">
      insert into USER (NAME, TEL, ADDRESS)
      values
      <foreach item="item" collection="list" separator=",">
        (#{item.name}, #{item.tel}, #{item.address})
      </foreach>
    </insert>
    <update id="updateUser" parameterType="com.github.hcsp.mybatis.entity.User">
        update USER set
        <if test="name !=null">
          name = #{name},
        </if>
        <if test="tel !=null">
          tel = #{tel},
        </if>
        <if test="address !=null">
          address = #{address},
        </if>
        updated_at = now()
        where id = #{id}
    </update>
    <delete id="deleteUserById" parameterType="int">
        delete from USER where id = #{id}
    </delete>
    <select id="selectUserById" parameterType="int" resultType="com.github.hcsp.mybatis.entity.User">
        select * from USER where id = #{id}
    </select>
</mapper>