<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
    <select id="getUserByPage" parameterType="map" resultType="user">
        select id,name,tel,address
        from user
        <if test="username != null">
            where name = #{username}
        </if>
        limit #{offset},#{limit}
    </select>
    <select id="countUser" parameterType="string" resultType="int">
        select count(*)
        from user
        <if test="username != null">
            where name = #{username}
        </if>
    </select>
    <insert id="batchInsertUsers">
        insert into user (name, tel, address)
        values
        <foreach item="user" collection="users" separator=",">
            (#{user.name}, #{user.tel}, #{user.address})
        </foreach>
    </insert>
    <update id="updateUser" parameterType="user">
        update user
        <set>
            <if test="name != null">name=#{name}</if>
            <if test="tel != null">tel=#{tel}</if>
            <if test="address != null">address=#{address}</if>
        </set>
        where id=#{id}
    </update>
    <delete id="deleteUserById" parameterType="int">
        delete from user
        where id=#{id}
    </delete>
    <select id="selectUserById" parameterType="int" resultType="user">
        select * from user where id=#{id}
    </select>
    <select id="getInnerJoinOrders" resultMap="Order">
        select o.id as order_id,
        u.id as user_id,
        u.name as user_name,
        g.name as goods_name,
        g.price as goods_price,
        o.goods_num as goods_name,
        (o.goods_price * o.goods_num) as total_price
        from `order` o
        inner join goods g on o.goods_id = g.id
        inner join `user` u on o.user_id = u.id
        where g.name is not null and u.name is not null
    </select>
    <resultMap id="Order" type="com.github.hcsp.mybatis.entity.Order">
        <result property="id" column="order_id"/>
        <result property="totalPrice" column="total_price"/>
        <association property="user" javaType="com.github.hcsp.mybatis.entity.User">
            <result property="id" column="user_id"/>
            <result property="name" column="user_name"/>
        </association>
        <association property="goods" javaType="com.github.hcsp.mybatis.entity.Goods">
            <result property="id" column="goods_id"/>
            <result property="name" column="goods_name"/>
        </association>
    </resultMap>
</mapper>