<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

    <select id="selectUserByName" parameterType="map" resultType="com.github.hcsp.mybatis.entity.User">
        select * from `user`
        <if test="username!=null">
            where name =#{username}
        </if>
        limit #{offset},#{limit}
    </select>

    <select id="countUserNum" parameterType="map" resultType="int">
        select count(*) from `user`
        <if test="username!=null">
            where name =#{username}
        </if>
    </select>

    <insert id="insertUsers" parameterType="map">
        insert into USER (NAME, TEL, ADDRESS)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.name},#{item.tel},#{item.address})
        </foreach>
    </insert>

    <update id="updateUserInfo" parameterType="com.github.hcsp.mybatis.entity.User">
        update USER SET
        <if test="name!=null">
            NAME=#{name},
        </if>
        <if test="tel!=null">
            TEL=#{tel},
        </if>
        <if test="address!=null">
            ADDRESS=#{address},
        </if>
        UPDATED_AT=now()
        where ID=#{id}
    </update>

    <delete id="deleteUserById" parameterType="int">
        delete from USER where ID=#{id}
    </delete>


    <select id="selectAllOrders" resultMap="orderMap">
        select
            o.id order_id,
            u.name user_name,
            g.name goods_name,
            o.goods_num * o.goods_price total_price
        from`order` o
        inner join goods g on o.goods_id = g.id
        inner join `user` u on o.user_id = u.id
    </select>

    <select id="selectUserById" parameterType="int" resultType="com.github.hcsp.mybatis.entity.User">
        select * from USER where ID=#{id};
    </select>

    <resultMap id="orderMap" type="com.github.hcsp.mybatis.entity.Order">
        <result property="id" column="order_id"/>
        <result property="totalPrice" column="total_price"/>
        <association property="user" javaType="com.github.hcsp.mybatis.entity.User">
            <result property="name" column="user_name"/>
        </association>
        <association property="goods" javaType="com.github.hcsp.mybatis.entity.Goods">
            <result property="name" column="goods_name"/>
        </association>
    </resultMap>
</mapper>